---
layout: archive
title: "Events"
permalink: /events/
---

{% capture written_label %}'None'{% endcapture %}

{% capture label %}{{ site.events.label }}{% endcapture %}
{% if label != written_label %}
  <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
  {% capture written_label %}{{ label }}{% endcapture %}
{% endif %}
{% assign events = site.events | reverse %}
{% for post in events %}
  {% unless site.events.output == false or site.events.label == "posts" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}
