body {
	height: 100%;
}

.masthead__inner-wrap {
	padding: 0.1em;
}
.greedy-nav a.site-title {
	margin-left: 50px;
}

.page__hero {
	&--overlay {
		min-height: 500px;
		height: 100%;
		background-attachment: fixed;
		

		.wrapper {
			text-align: center;
		}

	}
}

.page__hero-image {
	height: 100%;
}

.visible-links {
	font-size: 20px;
}
.page__lead {
	margin: auto;
	text-align: center;
}
.page__title {
	padding-top: 50px;
	font-weight: normal;
}

.page__footer-copyright a {
	color: #1E88E5;
}
.page__motto {
	font-family: $global-font-family;
	font-size: $type-size-3;
	margin: auto;
	text-align: center;
	color: #fff;
  	text-shadow: 1px 1px 4px rgba(#000, 0.5);
    //max-width: $medium;

}